@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

/* ++++++++++++++++++++++++++styling navbar+++++++++++++++++++*/
nav{
  background-color: white;
  height: 10vh;
  width: 100vw;
  display: flex;
  padding: 0rem 3rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid gray;
  /* box-shadow: 0px 2px 5px gray; */
}

nav ul{
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
  }

nav ul li {
  list-style: none;
}

nav ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #222;
  font-weight: 600;
  transition: transform 0.3s ease-in-out;
}

nav ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: springgreen;
  transition: width 0.5s ease-in-out;
}

nav ul li a:hover {
  transform: scale(1.1);
}

nav ul li a:hover::after {
  width: 100%;
}


 .hemburger{
    height: 5vh;
    width: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: rgb(248, 248, 7); */
    display: none;
 }

.hemburger span{
      background-color: black;
      height: 1vh;
      /* width: 100%; */
    }

/*+++++++++++Styling Hero Section++++++++++++*/

.hero{
  height: 90vh;
  width: 100%;
  background-image: url(./img/hero4.png);
  background-size: cover;
  background-position: top 25% right 0;
}

.introContent{
  height: 100%;
  width: 60vw;
  padding-left: 10vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  
  gap: 5vh;
}
.introContent h1{
  color: #222;
  font-size: 7vh;
}
.introContent p{
  color: #222;
  font-size: 3vh;
  text-align: left;
}
.introContent button{
  width: 20vw;
  height: 7vh;
  background: linear-gradient(to bottom, #4169e1, #27408b); /* royalblue to darkblue */
  color: bisque;
  border: none;
  border-radius: 10px;
  box-shadow: 0 8px #1a2f6b; /* bottom shadow */
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.introContent button:active {
  transform: translateY(4px);
  box-shadow: 0 4px #1a2f6b;
}