@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

body {
  width: 100%;
}

/* ++++++++++++++++++++++++++styling navbar+++++++++++++++++++*/
nav{
  height: 10vh;
  width: 100vw;
  padding: 0px 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul{
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-content: flex-end;

    li{
      list-style: none;
      a{
        text-decoration: none;
      }
    }
  }
  .hemburger{
    height: 5vh;
    width: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: rgb(248, 248, 7); */
    display: none;

    span{
      background-color: black;
      height: 1vh;
      /* width: 100%; */
    }
  }
  border-bottom: 5px solid greenyellow;
}
